%table.table.table-striped
	%thead
		%tr
			%th Name
			%th CreatedDate
			%th LastModifiedDate
			%th ApiVersion
	%tbody
		- @results.each do |result|
			%tr
				%td
					%a{:href => "#{@instance_url}/#{result.Id}"}
						#{result.Name}
				%td
					#{result.CreatedDate}
				%td
					#{result.LastModifiedDate}
				%td
					#{result.ApiVersion}
